<?xml version="1.0" encoding="UTF-8"?>
<!-- VULNERABLE CONFIGURATION: log4j 2.14.1 with JNDI lookups enabled by default -->
<Configuration status="WARN">
    <Appenders>
        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
        
        <!-- File Appender -->
        <File name="FileAppender" fileName="logs/frontgate-application.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </File>
    </Appenders>
    
    <Loggers>
        <!-- Vulnerable configuration: JNDI lookup is enabled by default in log4j 2.14.1 -->
        <!-- This makes the application vulnerable to log4shell attacks -->
        <Logger name="com.contrast.frontgateservice" level="INFO" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="FileAppender" />
        </Logger>
        
        <!-- Root logger -->
        <Root level="INFO">
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>
