CONTRAST__AGENT__TOKEN="Your_API_Token_Here"
CONTRAST__UNIQ__NAME="Your_Unique_Name_Here"

#optional for ADR data collection and deletion
CONTRAST__API__KEY="Your_API_Key_Here"
CONTRAST__API__AUTHORIZATION="Your_Authorization_Token_Here"
